<div class="row" id="welcome_info" style='padding-top: 15px'>
      <div class="col-sm-6" id="about">
        <%= t("brand.welcome_about").html_safe %>
      </div>
      <div class="col-sm-6" id="requests">
       <%= t("brand.welcome_requests").html_safe %>
       <%= t("brand.welcome_access").html_safe %>
    </div>
    <div class="row" id="welcome_bias">
      <div class="col-sm-12">
        <%= t("brand.welcome_bias").html_safe %>
        </div>
    </div>
